<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Phun App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A26E54491CB5AB1500D80C89</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A26E54621CB5AB1600D80C89</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A26E546D1CB5AB1600D80C89</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
